.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.metrics {
    display: flex;
    flex-direction: column;
}

.tables {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75vw; 
}

/* .names{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 25vw; 
} */

.dashboard_text {
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.dashboard {
    position: relative; 
    display: flex;
    flex-direction: column;
    top: 10vh;
    margin-left: 4vw; 
    width: 75vw; 
    height: 82vh;          /* Устанавливаем высоту элемента */
    background-color: #25272F; /* Устанавливаем цвет фона */
    border-radius: 10px; 
}
