.metric {
    position: relative;
    width: 13vw;
    height: 14vh;          /* Устанавливаем высоту элемента */
    background-color: #25272F; /* Устанавливаем цвет фона */
    border-radius: 10px;
    top: 10vh;
    margin-left: 5vw;
    margin-bottom: 9.3vh;
    display: flex;          /* Используем Flexbox для выравнивания */
    flex-direction: column; /* Элементы будут располагаться вертикально */
    justify-content: center; /* Центрируем содержимое по вертикали */
    /* padding: 10px;        Добавляем отступы для улучшения внешнего вида */
}

.metric-content {
    display: flex;         /* Используем Flexbox для внутреннего содержимого */
    flex-direction: column; /* Элементы будут располагаться вертикально */
    width: 70%;          /* Занимает всю ширину родительского блока */
    height: 80%;
    margin-left: 1vw;
    text-align: left;
    justify-content: space-between; /* Распределяем пространство между элементами */
}